.body_background 
{
    background-image: url("https://sm.mashable.com/mashable_in/seo/default/8-years-of-the-avengers-how-joss-whedons-risk-became-crucial_5z9w.jpg");
    background-size: cover};
    #head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
    margin-bottom:50;
    margin-top:30;
}
